<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
   <a href="/"><b>Home</b></a>
   <br>
   <br>
   <b >Insufficient correct answers will result in waiting few seconds before next submit is possible. </b>

   <div id = "status"></div>
   <hr>
<form action="/english2" method = "POST" id="formId">
<b>Choose correct spelling</b><br>
         6.
         <input type="radio" name="options1" value="empty" hidden checked> </input>
         <input type="radio" name="options1" value="asspect"> asspect </input>
         <input type="radio" name="options1" value="aspect"> aspect </input><br>
         7.
         <input type="radio" name="options2" value="empty" hidden checked> </input>
         <input type="radio" name="options2" value="possible"> possible </input>
         <input type="radio" name="options2" value="posible"> posible </input><br>
         8.
         <input type="radio" name="options3" value="empty" hidden checked> </input>
         <input type="radio" name="options3" value="population"> population </input>
         <input type="radio" name="options3" value="poppulation"> poppulation </input><br>
         9.
         <input type="radio" name="options4" value="empty" hidden checked> </input>
         <input type="radio" name="options4" value="suppose"> suppose </input>
         <input type="radio" name="options4" value="supose"> supose </input><br>
         10.
         <input type="radio" name="options5" value="empty" hidden checked> </input>
         <input type="radio" name="options5" value="tomorow"> tomorow </input>
         <input type="radio" name="options5" value="tomorrow"> tomorrow </input><br>
         <br>
         {% if failed == 1 %}
            <input type = "submit" value = "submit" disabled/>
         {% else%}
            <input type = "submit" value = "submit" />
         {% endif %}


      </form>
</body>
</html>
<script>
    window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
    window.onhashchange=function(){window.location.hash="no-back-button";}
</script>
<script type="text/javascript">
   if({{failed|safe}} == 1){
      setTimeout(function(){window.location.href ='/english2'},{{time|safe}})
      countDown({{time|safe}}/1000,"status");
   }
    function countDown(secs , elem){
        var element = document.getElementById(elem);
        element.innerHTML = "<h2>please wait for " + secs + " seconds</h2>";
        if (secs < 1) {
            clearTimeout(timer);
        }
        secs --;
        var timer = setTimeout('countDown('+secs+',"'+elem+'")', 1000);
    }

</script>