<html >
<head>
</head>
   <body>
   <a href="/"><b>Home</b></a>
   <br>
   <br>
   <b >Insufficient correct answers will result in waiting few seconds before next submit is possible. </b>

   <div id = "status"></div>
   <hr>
      <form action="/english" method = "POST" id="formId">
         <b>Fill in the forms using letters only.</b>
         <p>1. He (to like) <input type = "text" name = "Simple present" /> to eat fries. <b>(Simple present)</b></p>
         <p>2. Yesterday he (to eat) <input type = "text" name = "Simple past"/> a large pizza. <b>(Simple past)</b></p>
         <p>3. He (to phone) <input type = "text" name = "Going-to future" /> his friend. <b>(Going-to future)</b></p>
         <p>4. I (to be) <input type ="text" name = "Present perfect" />  a lawyer since 1990. <b>(Present perfect)</b></p>
         <p>5. I (to eat) <input type ="text" name = "Past perfect" />  a bowl of fried rice before I went to school. <b>(Past perfect)</b></p>

         <br>
         {% if failed == 1 %}
            <input type = "submit" value = "submit" disabled/>
         {% else%}
            <input type = "submit" value = "submit" />
         {% endif %}


      </form>


   </body>
</html>
<script>
    window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
    window.onhashchange=function(){window.location.hash="no-back-button";}
</script>
<script type="text/javascript">
   if({{failed|safe}} == 1){
      setTimeout(function(){window.location.href ='/english'},{{time|safe}})
      countDown({{time|safe}}/1000,"status");
   }
    function countDown(secs , elem){
        var element = document.getElementById(elem);
        element.innerHTML = "<h2>please wait for " + secs + " seconds</h2>";
        if (secs < 1) {
            clearTimeout(timer);
        }
        secs --;
        var timer = setTimeout('countDown('+secs+',"'+elem+'")', 1000);
    }

</script>
