<!DOCTYPE html>
<title>trollie</title>
<h1>Hello !</h1>

<p>per project zijn er taken maak ze op een slimme manier</p>


<body>
    <ul>
        <tr><a href="/project/1">project 1</a></tr>
        <tr><a href="/project/2">project 2</a></tr>
        <tr><a href="/project/3">project 3</a></tr>
        <tr><a href="/project/4">project 4</a></tr>
        <tr><a href="/project/5">project 56</a></tr>
        <tr><a href="/project/6">project 78</a></tr>
    </ul>

    <ul id="task">
        {% for item in taskList %}
        <li>{{item[1]}} {{item[2]}}</li>
        <div style="background-color: aqua; color: white; padding: 20px;">
            <form method="post" action="/project_task">
             <!--    <button onclick="taskButton('{{item[0]}}')">Click me</button>-->
                <input type="hidden" name="taskID" value="{{item[0]}}" />
                <input type="submit" name="{{item[0]}}" value="click" />
            </form>
            
        </div>
        {% endfor %}
    </ul>

    <script>
        function taskButtonHide(buttonID) {
            document.getElementById(buttonID).disabled = true;
        }
    </script>


</body>
