<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Spar</title>

    <style>
        body{padding-top:70px;}
        #logo{min-width:400px;
            min-height:80px;
            max-width:400px;
            max-height:80px;}
    </style>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">College craft</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

      </ul>
    </div>
  </nav>

    <div class="container">
        <img id="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7c/Spar-logo.svg/1280px-Spar-logo.svg.png">
        <h1>Welcome</h1>
        <p>Test</p>
    </div>

</body>
</html>