<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Search input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="searchinput">Search Input</label>
            <div class="col-md-4">
                <input id="searchinput" name="searchinput" type="search" placeholder="placeholder" class="form-control input-md">
                <p class="help-block">help</p>
            </div>
        </div>

    </fieldset>
</form>